.background {
  background: #1e7017;
  color: #dafb1b;
}

#movie-form {
  left: 900px;
  padding: 60px;
  margin: 10px;
  background-color: black;
  position: absolute;
  color: #dafb1b;
  font-size: x-large;
  border-radius: 30px;
}

#movies {
  top: 100px;
}

button:hover,
input[type='submit']:hover {
  background: #dafb1b;
}

button.active {
  background: #dafb1b;
}

h1 {
  font-size: xx-large;
  text-shadow: 3px 3px black;
  font-stretch: expanded;
}
